* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: Poppins, sans-serif;
  --title-font: Roboto, sans-serif;
  --font-size: 14px;
  --primary-color: rgb(107, 107, 107);
  --bg-button: #6c6c6c;
  --bg-color: #fbfeff;
  --secondary-color: white;
  --button-radius: 12px;
}

body {
  background-color: var(--bg-color);
  font-size: var(--font-size);
  line-height: 1.7;
  font-family: var(--body-font);
  margin: 0 auto;
  h2 {
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  Selection colors Hex a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  ul,
  ol {
    list-style: none;
  }
}

/* @media only screen and (min-width: 768px) {
} */
