* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: Poppins, sans-serif;
  --title-font: Segoe UI, sans-serif;
  --font-size: 16px;
  --primary-color: rgb(104, 121, 122);
  --bg-button: rgba(64, 77, 79, 0.855);
  --bg-color: rgb(251, 254, 255);
  --title-color: rgb(64, 77, 79);
  --secondary-color: white;
  --hover-color: rgb(235, 238, 238);
  --button-radius: 12px;
  --nav-radius: 8px;
}

body {
  background-color: var(--bg-color);
  font-size: var(--font-size);
  line-height: 1.7;
  font-family: var(--body-font);
  margin: 6.4rem auto;
  h2 {
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  Selection colors Hex a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  ul,
  ol {
    list-style: none;
  }
  .footer {
    text-align: center;
    font-size: 1rem;
  }
}

/* @media only screen and (min-width: 768px) {
} */
