.dashboard-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 6.4rem 0;
  gap: 1rem;
}

.dashboard-left > button {
  width: 8rem;
  background-color: var(--bg-button);
  color: var(--secondary-color);
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.2s ease-out;
}

.dashboard-left button:hover {
  background-color: var(--bg-color);
  border: 2px solid var(--bg-button);
  color: var(--bg-button);
  font-weight: 600;
  transition: 0.2s ease-out;
}

.dashboard-right {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
}

.addIcon {
  height: 8rem;
  width: 8rem;
}

.dashboard-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  margin: 0 auto;
}

.dashboard-movies > img {
  height: 12rem;
  width: 9rem;
  border-radius: 8px;
}

.dashboard-movies > p {
  color: var(--primary-color);
}
