.dashboard-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 6.4rem 0;
  gap: 1rem;
}

.dashboard-left > button {
  width: 10rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--bg-color);
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  font-family: var(--body-font);
  letter-spacing: 1px;
  transition: all 0.33s ease-out;
}

.dashboard-left button:hover {
  color: var(--bg-button);
  box-shadow: 0px 4px 8px rgb(129, 129, 129);
  background-color: var(--hover-color);
  transition: all 0.15s ease-out;
}

.dashboard-right {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
}

.addIcon {
  height: 8rem;
  width: 8rem;
}

.dashboard-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  margin: 0 auto;
}

.dashboard-movies > img {
  height: 12rem;
  width: 9rem;
  border-radius: 8px;
}

.dashboard-movies > p {
  color: var(--primary-color);
}
