.list-movie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.movie-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  height: 8rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--button-radius);
  font-size: 1.2rem;
  color: var(--bg-color);
  -webkit-text-stroke: 1px rgba(96, 96, 96, 0);
  text-shadow: 0px 0px 4px rgb(29, 29, 29);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dashboard-edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  button {
    width: 3rem;
    height: 3rem;
    border: 1px solid transparent;
    border-radius: 50%;
    img {
      width: 1.3rem;
      height: auto;
    }
  }
}

.movie-edit button:hover {
  cursor: pointer;
  border: 3px solid var(--bg-button);
  transform: scale(1.1);
}

.confirmation-buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-bottom: 1rem;
  .confirm-button,
  .cancel-button {
    padding: 1rem 1.5rem;
    border-radius: var(--button-radius);
    border: none;
    width: 16rem;
    font-size: 1rem;
    color: var(--bg-color);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: var(--bg-button);
    font-weight: 500;
    font-family: var(--title-font);
    transition: all 0.3s;
  }

  .confirm-button:hover,
  .cancel-button:hover {
    background-color: var(--bg-button);
    color: var(--bg-button);
    transition: all 0.3s;
    background-color: var(--hover-color);
    box-shadow: 0px 4px 8px rgb(129, 129, 129);
    cursor: pointer;
  }
}

.modal-content {
  position: fixed;
  top: 8.5%;
  left: 25%;
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: var(--bg-color);
  color: var(--bg-button);
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--title-font);
  border-radius: var(--button-radius);
  box-shadow: 0px 0px 10px rgba(0.5, 0.5, 0.5, 0.5);

  z-index: 1000;
  button {
    margin: 1rem auto;
    height: 4rem;
    width: 100%;
    background-color: var(--bg-button);
    border: none;
    color: var(--secondary-color);
    border-radius: var(--button-radius);
    font-weight: 400;
    font-family: var(--body-font);
    font-size: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-out;
  }
  button:hover {
    background-color: var(--bg-button);
    color: var(--bg-button);
    transition: 0.15s ease-out;
    background-color: var(--hover-color);
    box-shadow: 0px 4px 8px rgb(129, 129, 129);
  }
}

.confirmation-content {
  padding: 2rem 2rem 0;
  text-align: center;
  max-width: 39rem;
  top: 16%;
  left: 33%;
}
