.erreur404 {
  font-size: 5rem;
  color: rgb(246, 205, 70);
  z-index: 100;
  position: relative;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
  }
}
.erreur404::before {
  background-image: url("/Erreur404.webp");
  background-repeat: repeat;
  background-size: 28%;
  content: "";
  position: absolute;
  filter: blur(2px) brightness(0.9) contrast(0.6);
  height: 80vh;
  width: 100vw;
  z-index: -1;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .erreur404 {
    font-size: 1.8rem;
  }
}
