.favorite-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 16px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: var(--button-radius);
  background-color: var(--hover-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.favorite-button:hover {
  transition: all 0.2s ease-out;
  border: 2px solid var(--primary-color);
  background-color: var(--hover-color);
}

.favorite-button:disabled {
  background-color: var(--hover-color);
  cursor: default;
  border: none;
}

.favorite-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease-out;
}

.button-text {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--bg-button);
  font-family: var(--title-font);
}

.active {
  font-size: 1.2rem;
  color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  .favorite-button {
    margin: 2rem auto 3rem;
  }
  .button-text {
    font-size: 1.1rem;
  }
}
