.login {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login .login-page {
  font-family: var(--body-font);
  background-color: var(--bg-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 65ch;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.387);
  border-radius: var(--button-radius);
  padding: 2rem 2rem 3rem 2rem;
  h2 {
    font-size: 2rem;
    color: var(--title-color);
  }
  a {
    color: black;
  }
  p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--primary-color);
  }
  .login-continuer {
    padding: 1rem;
    background-color: var(--hover-color);
    border: 1px solid transparent;
    color: var(--bg-button);
    font-family: var(--body-font);
    font-size: 1.1rem;
    border-radius: var(--button-radius);
    transition: all 0.33s ease-out;
    font-weight: 600;
  }
  .login-continuer:hover {
    background-color: var(--bg-color);
    /* color: var(--primary-color); */

    box-shadow: 0px 6px 12px rgb(129, 129, 129);
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  input {
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    width: 13.75rem;
  }

  input {
    padding: 0.7rem;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}
.login-form:last-of-type {
  margin-bottom: 0;
}

.container-form {
  border-radius: var(--button-radius);
  padding-top: 1rem;
}

@media only screen and (max-width: 650px) {
  .login {
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .login .login-page {
    max-width: 336px;
    padding: 0.5rem;
    p {
      font-size: 1rem;
      margin-top: 1rem;
    }
    .container-form {
      margin: 1rem;
    }
  }
}
