.detail-container {
  margin-top: 7.4rem;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
  }
}

/* .detail-container-movies {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
} */
/* .detail-container-movies .container-middle {
  max-width: 70ch;
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
} */

/* .container-movies h2 {
} */

.detail-container-movies .informations {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.trailer {
  background-color: #7e7e7e55;
}

@media only screen and (min-width: 768px) {
  .trailer {
    margin: 3rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    background-color: black;
  }
  .detail-container-movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
    gap: 5rem;
    width: 74vw;
    margin-bottom: 3rem;
    .container-middle {
      max-width: 70ch;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 18px;
        margin-bottom: 2rem;
      }
    }
    img {
      width: auto;
      height: 40rem;
      border-radius: 14px;
      filter: blur(0.6px) opacity(0.9) contrast(0.9);
    }
  }

  .container-middle .title-informations {
    color: var(--primary-color);
  }

  .same-categorie {
    max-width: 72vw;
    margin: 0 auto;
    h2 {
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }
  .same-genre {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-color: #76767639 transparent;
    scrollbar-width: thin;
    gap: 2rem;
    margin: 0 auto;
    min-height: auto;
    img {
      width: 12.5rem;
      height: 17rem;
      border-radius: 16px;
      margin-bottom: 2rem;
      box-shadow: 3px 6px 8px 0px rgb(114, 114, 114);
    }
    img:hover {
      transform: perspective(300px) rotateY(-2deg);
      transition: 0.15s ease;
      filter: contrast(0.6) blur(0.5px);
    }
  }
}
