@media only screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    width: 100%;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50px;
    }
    a {
      color: var(--secondary);
      font-size: 18px;
    }
    .seConnecter,
    .connexion {
      border: 1px solid var(--bg-button);
      padding: 0;
      cursor: pointer;
      font-size: 18px;
      transform: translateY(-10px);
      padding: 1rem;
      background: var(--bg-button);
      color: var(--secondary-color);
      border-radius: var(--button-radius);
      border: 2px solid var(--bg-button);
      transition: 0.2s ease-out;
    }
    .seConnecter:hover,
    .connexion:hover {
      background: var(--bg-color);
      color: var(--bg-button);
      transition: 0.2s ease-out;
    }
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
  }

  .navbar-links li {
    padding: 1rem 1.5rem;
    border-radius: var(--button-radius);
    color: var(--bg-button);
    transition: background-color 0.4s ease-out;
  }
  .navbar-links li:hover {
    background-color: var(--bg-button);
    transition: background-color 0.2s ease-out;
    background-color: rgba(0, 0, 0, 0.047);
    font-weight: 600;
  }

  .seConnecter {
    padding: 1rem 1.5rem;
    border-radius: var(--button-radius);
    transition: background-color 0.2s ease-out;
  }

  .seConnecter:hover {
    background-color: var(--bg-button);
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.047);
  }
}
