.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
}
.user-dashboard {
  background-color: rgba(0, 0, 0, 0.047);
  padding: 1rem;
  border-radius: var(--button-radius);
  color: var(--bg-button);
  width: auto;
  font-size: 1.1rem;
}
